*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
  
    }
    
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(30,190,230);

    }
    
    li{
    color:red;
    list-style-type: none;}
    
    div li a{
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    padding-right:10px;
    color: black}
    
    .club{
    border: 5px dotted white;
    border-radius: 1%;
    height: auto;
    width: auto;
    background-image: url('images/background.png');
    background-size:100% 100%;
    }
    
    .club img{
    display:flex;
    align-items: center;
    width:100%;
    height:100%;
    }
    
    .mountain {
    background-image:url('images/mountain_view_1.jpg');
    background-size:100% 100%;
    length:100%;
    width:100%;
    padding-top:100px;
    padding-bottom:100px
    }
    
    h1{
      margin-bottom:100px;
    text-align:center;
    font-size: 40px;
    padding-top:20px;
    padding-bottom:20px;
    font-family:"papyrus",fantasy;
    background-color: rgb(255, 255, 255);
  }
    
    h2{
      margin-top:200px;
      font-size:20px;
      text-align: center;
      color:black;
      background-color: rgb(255, 255, 255);
    margin-bottom:100px;}

    
    .button{
    border-style:inset;
    border-width:5px;
    border-color:rgb(250, 178, 89);
    font-size:20px;
    color:rgb(250, 178, 89);
    align-items:center;
    justify-content:center;
    display:inline-block;
    width:200px;
    padding:10px 10px;
    margin:auto;
    text-align:center;

    }
    
    table {
      border: 1px solid black;
      align-items:center;
      background-image: url('images/background.png');
      background-size: 100% 100%;
      margin:auto;
      width:100%;
      height:100%;
    }
    
    th,
    td {
      border: 1px solid black;
    }
    
    td li{
    color:black}
    
    caption{
        padding-top:30px;
        font-size: 50px;
        font-family: "Lucida Console", "Courier New", monospace;}
        

    .footer hr{
        margin:2rem 0;
        text-align:center;
      }