*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
  
    }
    
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(30,190,230);
      font-family:"papyrus",fantasy;

    }
    
    li{
    color:red;
    list-style-type: none;}
    
    div li a{
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    padding-right:10px;
    color: black}
    
    .club{
    border: 5px dotted white;
    border-radius: 1%;
    height: auto;
    width: auto;
    background-image: url('images/background.png');
    background-size:100% 100%;
    }
    
    .club img{
    display:flex;
    align-items: center;
    width:100%;
    height:100%;
    }
    
    .mountain {
    background-image:url('images/mountain_view_1.jpg');
    background-size:100% 100%;
    length:100%;
    width:100%;
    padding-top:100px;
    padding-bottom:100px
    }
    
    h1{
    margin-bottom:100px;
    text-align:center;
    font-size: 40px;
    padding-top:20px;
    padding-bottom:20px;
    font-family:"papyrus",fantasy;
    background-color: rgb(255, 255, 255);
  }
    
    h2{
      margin-top:200px;
      font-size:20px;
      text-align: center;
      color:black;
      background-color: rgb(255, 255, 255);
    margin-bottom:100px;}

 
    table {
      border: 1px solid black;
      align-items:center;
      background-image: url('images/background.png');
      background-size: 100% 100%;
      margin:auto;
      width:100%;
      height:100%;
      height:500px;
      font-family:"papyrus",fantasy;
    }
    
    th,
    td {
      border: 1px solid black;
      font-size:20px;

    }
    
    td li{
    color:black}
    
    caption{
        padding-top:30px;
        font-size: 50px;
        font-family: "Lucida Console", "Courier New", monospace;}
        

    .footer hr{
        margin:auto;
        justify-content:center
      }

    .column {
      padding-top:250px;
      padding-bottom:250px;
      background-image: url('images/maunga_club_cabin.jpg');
      background-size:100% 100%;
      margin:auto;

    }

    .column h3 {
      padding-top:20px;
      padding-bottom:20px;
      background-color: black;
      color:white;
      font-size:30px;
      font-family:"papyrus",fantasy;
      margin-bottom:20px;
      text-align:center
    }
     
    .button{
      margin-top:20px;
      border-style:inset;
      border-width:5px;
      border-color:rgb(0, 0, 0);
      font-size:20px;
      color:rgb(255, 255, 255);
      width:200px;
      padding:10px 10px;
      text-align:center;
      background-color: black;
      justify-content:center;
      display:inline-block;
      align-items:center;
      margin-left:40px;
      }
    
      h4{
        font-size:30px;
        font-family:"papyrus",fantasy;
        padding-top:20px;
        padding-bottom:20px;
        text-align:center;
        margin-top:30px;
      
      }
    .row{
      padding-top:20px;
      padding-bottom:30px;

    }

    .fancy-pictures{
    align-items: center;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:auto;
    background-image: url('images/background.png');
    background-size:100% 100%;
    margin:auto;
 }
h5{
font-size:35px;
font-family:"papyrus",fantasy;
text-align:center;
padding-top:30px;
}

h6{
font-size:15px;
text-align:center;
color:rgb(0, 0, 0);
padding-bottom:30px
}














      